In [123]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import math
from pyxlsb import open_workbook as open_xlsb

%matplotlib inline

In [124]:
import pandas as pd
from pyxlsb import open_workbook as open_xlsb

df1 = []

with open_xlsb('Shogun Report Nov 2018.xlsb') as wb:
    with wb.get_sheet(1) as sheet:
        for row in sheet.rows():
            df1.append([item.v for item in row])

df1 = pd.DataFrame(df1[1:], columns=df1[0])

In [125]:
df1=df1.drop(['SEQUENCE','Sr. No.','NET_SALES_QTY','NET_SALES_Cases.Units','UPC','NET_SALES_VALUE','SCHEME_DISCOUNT','OTHER_DISCOUNT','TAX_PERCENTAGE','Net Value Calculation','MRP','TUR','PARTY_CODE','BASEPACK CODE','SKU7_CODE','PRODUCT_NAME',],axis=1)
df1.head()

,Delivery Date,VEHICLE,BEAT_NAME,PARTY_HLL_CODE,SERVICING PLG,PARTY_NAME,BILL_NUMBER,BILL_DATE,NET_SALES_WEIGHT_IN_KGS,BILL VALUE,NaN
0,43405.0,VAN3 (RAJKUMAR),D-CHROMPET 1,HUL-410243D-CH0103,DETS-S,Jayapal Store (Ch)-D-D-D,GST43677,43434.0,1.080,9916.0,NaN
1,43405.0,VAN3 (RAJKUMAR),D-CHROMPET 1,HUL-410243D-CH0103,DETS-S,Jayapal Store (Ch)-D-D-D,GST43677,43434.0,0.000,0.0,NaN
2,43405.0,VAN3 (RAJKUMAR),D-CHROMPET 1,HUL-410243D-CH0103,DETS-S,Jayapal Store (Ch)-D-D-D,GST43677,43434.0,0.200,0.0,NaN
3,43405.0,VAN3 (RAJKUMAR),D-CHROMPET 1,HUL-410243D-CH0103,DETS-S,Jayapal Store (Ch)-D-D-D,GST43677,43434.0,4.800,0.0,NaN
4,43405.0,VAN3 (RAJKUMAR),D-CHROMPET 1,HUL-410243D-CH0103,DETS-S,Jayapal Store (Ch)-D-D-D,GST43677,43434.0,3.000,0.0,NaN

In [126]:
import pandas as pd
from pyxlsb import open_workbook as open_xlsb

df2 = []

with open_xlsb('GPS Location Data.xlsb') as wb:
    with wb.get_sheet(1) as sheet:
        for row in sheet.rows():
            df2.append([item.v for item in row])

df2 = pd.DataFrame(df2[1:], columns=df2[0])

In [127]:
df2

,PARTY_HLL_CODE,Current Latitude,Current Longitude,Verified,Current Latitude,Current Longitude
0,HUL-410243D-CH0103,12.948525,80.151653,True,12.951466,80.146496
1,HUL-410243D-CH0109,12.950331,80.151300,True,12.950532,80.150299
2,HUL-410243D-P18928,12.951595,80.143698,True,12.950693,80.145739
3,HUL-410243D-CH0114,12.948965,80.151099,True,12.949779,80.148689
4,TN60004462137,12.951610,80.141493,True,12.946263,80.146728
...,...,...,...,...,...,...
683,HUL-410243D-P17656,12.976948,80.183063,True,12.976948,80.183063
684,HUL-410243D-P35330,12.976275,80.144908,True,12.976275,80.144908
685,HUL-410243D-P49495,12.972210,80.157033,True,12.972210,80.157033
686,HUL-410243D-P49791,12.975892,80.146835,True,12.975892,80.146835
687,HUL-41A237D-P3880554,12.960030,80.140606,True,12.960030,80.140606

In [115]:
d=pd.merge(df1, df2, on=['PARTY_HLL_CODE'])

In [116]:
d

,Delivery Date,VEHICLE,BEAT_NAME,PARTY_HLL_CODE,SERVICING PLG,PARTY_NAME,BILL_NUMBER,BILL_DATE,NET_SALES_WEIGHT_IN_KGS,BILL VALUE,Current Latitude,Current Longitude,Verified,Current Latitude,Current Longitude
0,43405.0,VAN3 (RAJKUMAR),D-CHROMPET 1,HUL-410243D-CH0103,DETS-S,Jayapal Store (Ch)-D-D-D,GST43677,43434.0,1.080,9916.0,12.948525,80.151653,True,12.951466,80.146496
1,43405.0,VAN3 (RAJKUMAR),D-CHROMPET 1,HUL-410243D-CH0103,DETS-S,Jayapal Store (Ch)-D-D-D,GST43677,43434.0,0.000,0.0,12.948525,80.151653,True,12.951466,80.146496
2,43405.0,VAN3 (RAJKUMAR),D-CHROMPET 1,HUL-410243D-CH0103,DETS-S,Jayapal Store (Ch)-D-D-D,GST43677,43434.0,0.200,0.0,12.948525,80.151653,True,12.951466,80.146496
3,43405.0,VAN3 (RAJKUMAR),D-CHROMPET 1,HUL-410243D-CH0103,DETS-S,Jayapal Store (Ch)-D-D-D,GST43677,43434.0,4.800,0.0,12.948525,80.151653,True,12.951466,80.146496
4,43405.0,VAN3 (RAJKUMAR),D-CHROMPET 1,HUL-410243D-CH0103,DETS-S,Jayapal Store (Ch)-D-D-D,GST43677,43434.0,3.000,0.0,12.948525,80.151653,True,12.951466,80.146496
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44761,43434.0,BIKE (B SUNDARAPANDI),P - MR - NANGANALLUR1,HUL-410243D-P14526,PP-S,Sri sai pharmacy(mad)(KK)-D-D-P,GST43609,43433.0,0.030,0.0,12.971769,80.190906,True,12.974610,80.192244
44762,43434.0,BIKE (B SUNDARAPANDI),P - MR - NANGANALLUR1,HUL-410243D-P14526,PP-S,Sri sai pharmacy(mad)(KK)-D-D-P,GST43609,43433.0,0.030,0.0,12.971769,80.190906,True,12.974610,80.192244
44763,43434.0,BIKE (B SUNDARAPANDI),P - MR - NANGANALLUR1,HUL-410243D-P14526,PP-S,Sri sai pharmacy(mad)(KK)-D-D-P,GST43609,43433.0,0.084,0.0,12.971769,80.190906,True,12.974610,80.192244
44764,43434.0,BIKE (B SUNDARAPANDI),P - MR - NANGANALLUR1,HUL-410243D-P14526,PP-S,Sri sai pharmacy(mad)(KK)-D-D-P,GST43609,43433.0,0.060,0.0,12.971769,80.190906,True,12.974610,80.192244
44765,43434.0,BIKE (B SUNDARAPANDI),P - MR - NANGANALLUR1,HUL-410243D-P14526,PP-S,Sri sai pharmacy(mad)(KK)-D-D-P,GST43609,43433.0,0.084,0.0,12.971769,80.190906,True,12.974610,80.192244

In [117]:
d.describe()

,Delivery Date,BILL_DATE,BILL VALUE,Current Latitude,Current Longitude,Current Latitude,Current Longitude
count,44766.000000,44766.000000,44766.000000,44766.000000,44766.000000,44766.000000,44766.000000
mean,43419.851986,43420.102488,418.619131,13.011525,79.953457,12.970225,80.149366
std,8.824741,8.756851,4271.651545,1.004223,3.720910,0.013147,0.024394
min,43405.000000,43405.000000,0.000000,0.000000,0.000000,12.933521,80.080192
25%,43413.000000,43413.000000,0.000000,12.956482,80.133913,12.960935,80.133754
50%,43420.000000,43420.000000,0.000000,12.971826,80.143698,12.971373,80.144782
75%,43427.000000,43428.000000,0.000000,12.982399,80.180683,12.980760,80.160383
max,43434.000000,43434.000000,254549.000000,26.346370,92.684040,13.045721,80.220629

In [118]:
d1 = pd.DataFrame(columns=['PARTY_HLL_CODE','W_KG'], data=d[['PARTY_HLL_CODE','NET_SALES_WEIGHT_IN_KGS']].values)

In [119]:
d1

           PARTY_HLL_CODE   W_KG
0      HUL-410243D-CH0103  1.080
1      HUL-410243D-CH0103  0.000
2      HUL-410243D-CH0103  0.200
3      HUL-410243D-CH0103  4.800
4      HUL-410243D-CH0103  3.000
...                   ...    ...
44761  HUL-410243D-P14526  0.030
44762  HUL-410243D-P14526  0.030
44763  HUL-410243D-P14526  0.084
44764  HUL-410243D-P14526  0.060
44765  HUL-410243D-P14526  0.084

[44766 rows x 2 columns]

In [120]:
d1["W_KG"] = pd.to_numeric(d1["W_KG"])

In [122]:
d1=d1.groupby(['PARTY_HLL_CODE'])['W_KG'].sum()

In [96]:
d1

PARTY_HLL_CODE
HUL-410243D-AD0110       4.350
HUL-410243D-AD0305      52.768
HUL-410243D-AD0334      84.730
HUL-410243D-AD0401      26.802
HUL-410243D-AN0002     772.609
                        ...
TN60007460230          508.141
TN60007508224         2379.944
TN60007560216          521.183
TN60007560276          802.328
TN60011350154         3906.893
Name: W_KG, Length: 688, dtype: float64

In [98]:
df=pd.merge(d,d1 , on=['PARTY_HLL_CODE'])

In [99]:
df

,Delivery Date,VEHICLE,BEAT_NAME,PARTY_HLL_CODE,SERVICING PLG,PARTY_NAME,BILL_NUMBER,BILL_DATE,NET_SALES_WEIGHT_IN_KGS,BILL VALUE,Current Latitude,Current Longitude,Verified,Current Latitude,Current Longitude,W_KG
0,43405.0,VAN3 (RAJKUMAR),D-CHROMPET 1,HUL-410243D-CH0103,DETS-S,Jayapal Store (Ch)-D-D-D,GST43677,43434.0,1.080,9916.0,12.948525,80.151653,True,12.951466,80.146496,222.134
1,43405.0,VAN3 (RAJKUMAR),D-CHROMPET 1,HUL-410243D-CH0103,DETS-S,Jayapal Store (Ch)-D-D-D,GST43677,43434.0,0.000,0.0,12.948525,80.151653,True,12.951466,80.146496,222.134
2,43405.0,VAN3 (RAJKUMAR),D-CHROMPET 1,HUL-410243D-CH0103,DETS-S,Jayapal Store (Ch)-D-D-D,GST43677,43434.0,0.200,0.0,12.948525,80.151653,True,12.951466,80.146496,222.134
3,43405.0,VAN3 (RAJKUMAR),D-CHROMPET 1,HUL-410243D-CH0103,DETS-S,Jayapal Store (Ch)-D-D-D,GST43677,43434.0,4.800,0.0,12.948525,80.151653,True,12.951466,80.146496,222.134
4,43405.0,VAN3 (RAJKUMAR),D-CHROMPET 1,HUL-410243D-CH0103,DETS-S,Jayapal Store (Ch)-D-D-D,GST43677,43434.0,3.000,0.0,12.948525,80.151653,True,12.951466,80.146496,222.134
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44761,43434.0,BIKE (B SUNDARAPANDI),P - MR - NANGANALLUR1,HUL-410243D-P14526,PP-S,Sri sai pharmacy(mad)(KK)-D-D-P,GST43609,43433.0,0.030,0.0,12.971769,80.190906,True,12.974610,80.192244,1.150
44762,43434.0,BIKE (B SUNDARAPANDI),P - MR - NANGANALLUR1,HUL-410243D-P14526,PP-S,Sri sai pharmacy(mad)(KK)-D-D-P,GST43609,43433.0,0.030,0.0,12.971769,80.190906,True,12.974610,80.192244,1.150
44763,43434.0,BIKE (B SUNDARAPANDI),P - MR - NANGANALLUR1,HUL-410243D-P14526,PP-S,Sri sai pharmacy(mad)(KK)-D-D-P,GST43609,43433.0,0.084,0.0,12.971769,80.190906,True,12.974610,80.192244,1.150
44764,43434.0,BIKE (B SUNDARAPANDI),P - MR - NANGANALLUR1,HUL-410243D-P14526,PP-S,Sri sai pharmacy(mad)(KK)-D-D-P,GST43609,43433.0,0.060,0.0,12.971769,80.190906,True,12.974610,80.192244,1.150
44765,43434.0,BIKE (B SUNDARAPANDI),P - MR - NANGANALLUR1,HUL-410243D-P14526,PP-S,Sri sai pharmacy(mad)(KK)-D-D-P,GST43609,43433.0,0.084,0.0,12.971769,80.190906,True,12.974610,80.192244,1.150

In [66]:
df.describe

<bound method NDFrame.describe of        Delivery Date               VEHICLE          BEAT_NAME  \
0            43405.0       VAN3 (RAJKUMAR)       D-CHROMPET 1
1            43405.0       VAN3 (RAJKUMAR)       D-CHROMPET 1
2            43405.0       VAN3 (RAJKUMAR)       D-CHROMPET 1
3            43405.0       VAN3 (RAJKUMAR)       D-CHROMPET 1
4            43405.0       VAN3 (RAJKUMAR)       D-CHROMPET 1
...              ...                   ...                ...
44761        43434.0    BIKE (vijayapraba)  PPA-NANGANALLUR 2
44762        43434.0    BIKE (vijayapraba)  PPA-NANGANALLUR 2
44763        43434.0    BIKE (vijayapraba)  PPA-NANGANALLUR 2
44764        43434.0  BIKE (MOHAMMEDASAIN)      F-ANAKAPUTHUR
44765        43434.0  BIKE (MOHAMMEDASAIN)      F-ANAKAPUTHUR

           PARTY_HLL_CODE SERVICING PLG                 PARTY_NAME  \
0      HUL-410243D-CH0103        DETS-S   Jayapal Store (Ch)-D-D-D
1      HUL-410243D-CH0103        DETS-S   Jayapal Store (Ch)-D-D-D
2      HUL-410243D-CH0103        DETS-S   Jayapal Store (Ch)-D-D-D
3      HUL-410243D-CH0103        DETS-S   Jayapal Store (Ch)-D-D-D
4      HUL-410243D-CH0103        DETS-S   Jayapal Store (Ch)-D-D-D
...                   ...           ...                        ...
44761       TN60001654859          PP-A    Kali Store(ALN)-D-D-D-P
44762       TN60001654859          PP-A    Kali Store(ALN)-D-D-D-P
44763       TN60001654859          PP-A    Kali Store(ALN)-D-D-D-P
44764  HUL-410243D-AN0055           FNB  Brinda Provision(ana)-D-F
44765  HUL-410243D-AN0055           FNB  Brinda Provision(ana)-D-F

      BILL_NUMBER  BILL_DATE NET_SALES_WEIGHT_IN_KGS  BILL VALUE
0        GST43677    43434.0                   1.080      9916.0
1        GST43677    43434.0                   0.000         0.0
2        GST43677    43434.0                   0.200         0.0
3        GST43677    43434.0                   4.800         0.0
4        GST43677    43434.0                   3.000         0.0
...           ...        ...                     ...         ...
44761    GST43613    43433.0                   0.600         0.0
44762    GST43613    43433.0                   0.840         0.0
44763    GST43613    43433.0                   0.000         0.0
44764    GST43671    43433.0                   0.150       730.0
44765    GST43671    43433.0                   1.000         0.0

[44766 rows x 10 columns]>

In [100]:
df=df.drop(['SERVICING PLG', 'PARTY_NAME','Verified','NET_SALES_WEIGHT_IN_KGS'],axis=1)

In [102]:
df

,Delivery Date,VEHICLE,BEAT_NAME,PARTY_HLL_CODE,BILL_NUMBER,BILL_DATE,BILL VALUE,Current Latitude,Current Longitude,Current Latitude,Current Longitude,W_KG
0,43405.0,VAN3 (RAJKUMAR),D-CHROMPET 1,HUL-410243D-CH0103,GST43677,43434.0,9916.0,12.948525,80.151653,12.951466,80.146496,222.134
1,43405.0,VAN3 (RAJKUMAR),D-CHROMPET 1,HUL-410243D-CH0103,GST43677,43434.0,0.0,12.948525,80.151653,12.951466,80.146496,222.134
2,43405.0,VAN3 (RAJKUMAR),D-CHROMPET 1,HUL-410243D-CH0103,GST43677,43434.0,0.0,12.948525,80.151653,12.951466,80.146496,222.134
3,43405.0,VAN3 (RAJKUMAR),D-CHROMPET 1,HUL-410243D-CH0103,GST43677,43434.0,0.0,12.948525,80.151653,12.951466,80.146496,222.134
4,43405.0,VAN3 (RAJKUMAR),D-CHROMPET 1,HUL-410243D-CH0103,GST43677,43434.0,0.0,12.948525,80.151653,12.951466,80.146496,222.134
...,...,...,...,...,...,...,...,...,...,...,...,...
44761,43434.0,BIKE (B SUNDARAPANDI),P - MR - NANGANALLUR1,HUL-410243D-P14526,GST43609,43433.0,0.0,12.971769,80.190906,12.974610,80.192244,1.150
44762,43434.0,BIKE (B SUNDARAPANDI),P - MR - NANGANALLUR1,HUL-410243D-P14526,GST43609,43433.0,0.0,12.971769,80.190906,12.974610,80.192244,1.150
44763,43434.0,BIKE (B SUNDARAPANDI),P - MR - NANGANALLUR1,HUL-410243D-P14526,GST43609,43433.0,0.0,12.971769,80.190906,12.974610,80.192244,1.150
44764,43434.0,BIKE (B SUNDARAPANDI),P - MR - NANGANALLUR1,HUL-410243D-P14526,GST43609,43433.0,0.0,12.971769,80.190906,12.974610,80.192244,1.150
44765,43434.0,BIKE (B SUNDARAPANDI),P - MR - NANGANALLUR1,HUL-410243D-P14526,GST43609,43433.0,0.0,12.971769,80.190906,12.974610,80.192244,1.150

In [103]:
e=df.PARTY_HLL_CODE.unique()

In [106]:
df=df.drop_duplicates(['PARTY_HLL_CODE'], keep='first')

In [107]:
df

,Delivery Date,VEHICLE,BEAT_NAME,PARTY_HLL_CODE,BILL_NUMBER,BILL_DATE,BILL VALUE,Current Latitude,Current Longitude,Current Latitude,Current Longitude,W_KG
0,43405.0,VAN3 (RAJKUMAR),D-CHROMPET 1,HUL-410243D-CH0103,GST43677,43434.0,9916.0,12.948525,80.151653,12.951466,80.146496,222.134
132,43405.0,VAN3 (RAJKUMAR),D-CHROMPET 1,HUL-410243D-CH0109,GST43678,43434.0,10509.0,12.950331,80.151300,12.950532,80.150299,310.970
345,43405.0,VAN3 (RAJKUMAR),D-CHROMPET 1,HUL-410243D-P18928,GST43679,43434.0,29120.0,12.951595,80.143698,12.950693,80.145739,726.325
666,43405.0,VAN3 (RAJKUMAR),D-CHROMPET 1,HUL-410243D-CH0114,GST43680,43434.0,10999.0,12.948965,80.151099,12.949779,80.148689,306.089
805,43405.0,van 2(MURUGAN),D-CHROMPET 1,HUL-410243D-P16865,GST43681,43434.0,5595.0,12.950621,80.144777,12.950621,80.144777,644.541
...,...,...,...,...,...,...,...,...,...,...,...,...
44681,43434.0,VAN 6 (BALA,HUL - ANAKAPUTHUR- 1,HUL-41A237D-P39580,GST43577,43433.0,3892.0,12.987773,80.119407,12.986506,80.125943,14.173
44716,43434.0,van 2(MURUGAN),DF - PALLAVARAM,HUL-410243D-P49791,GST43580,43433.0,1619.0,12.975892,80.146835,12.975892,80.146835,8.058
44728,43434.0,van 2(MURUGAN),DF - PALLAVARAM,HUL-410243D-AD0110,GST43589,43433.0,1263.0,13.062702,80.263901,12.969583,80.148043,4.350
44735,43434.0,BIKE (MOHAMMEDASAIN),HUL-LAKSHMIPURAM,HUL-41A237D-P3880554,GST43605,43433.0,972.0,12.960030,80.140606,12.960030,80.140606,2.601
44749,43434.0,BIKE (B SUNDARAPANDI),P - MR - NANGANALLUR1,HUL-410243D-P14526,GST43609,43433.0,1580.0,12.971769,80.190906,12.974610,80.192244,1.150

In [80]:
se.describe

<bound method NDFrame.describe of        Delivery Date                VEHICLE              BEAT_NAME  \
131          43432.0         van 2(MURUGAN)           F-CHROMPET 1
344          43433.0     BIKE (vijayapraba)         PPA-CHROMPET 1
665          43433.0     BIKE (vijayapraba)         PPA-CHROMPET 1
804          43432.0         van 2(MURUGAN)           F-CHROMPET 1
951          43432.0         van 2(MURUGAN)           F-CHROMPET 1
...              ...                    ...                    ...
44715        43434.0            VAN 6 (BALA   HUL - ANAKAPUTHUR- 1
44727        43434.0         van 2(MURUGAN)        DF - PALLAVARAM
44734        43434.0         van 2(MURUGAN)        DF - PALLAVARAM
44748        43434.0   BIKE (MOHAMMEDASAIN)       HUL-LAKSHMIPURAM
44765        43434.0  BIKE (B SUNDARAPANDI)  P - MR - NANGANALLUR1

             PARTY_HLL_CODE BILL_NUMBER  BILL_DATE  BILL VALUE  \
131      HUL-410243D-CH0103    GST43173    43431.0         0.0
344      HUL-410243D-CH0109    GST43402    43432.0         0.0
665      HUL-410243D-P18928    GST43406    43432.0         0.0
804      HUL-410243D-CH0114    GST43176    43431.0         0.0
951      HUL-410243D-P16865    GST43177    43431.0         0.0
...                     ...         ...        ...         ...
44715    HUL-41A237D-P39580    GST43577    43433.0         0.0
44727    HUL-410243D-P49791    GST43580    43433.0         0.0
44734    HUL-410243D-AD0110    GST43589    43433.0         0.0
44748  HUL-41A237D-P3880554    GST43605    43433.0         0.0
44765    HUL-410243D-P14526    GST43609    43433.0         0.0

       Current Latitude  Current Longitude  Current Latitude  \
131           12.948525          80.151653         12.951466
344           12.950331          80.151300         12.950532
665           12.951595          80.143698         12.950693
804           12.948965          80.151099         12.949779
951           12.950621          80.144777         12.950621
...                 ...                ...               ...
44715         12.987773          80.119407         12.986506
44727         12.975892          80.146835         12.975892
44734         13.062702          80.263901         12.969583
44748         12.960030          80.140606         12.960030
44765         12.971769          80.190906         12.974610

       Current Longitude     W_KG
131            80.146496  222.134
344            80.150299  310.970
665            80.145739  726.325
804            80.148689  306.089
951            80.144777  644.541
...                  ...      ...
44715          80.125943   14.173
44727          80.146835    8.058
44734          80.148043    4.350
44748          80.140606    2.601
44765          80.192244    1.150

[688 rows x 12 columns]>

In [108]:
df.to_csv("S.csv",index=False)